<h1><%= @post.title %></h1>

<% if user_signed_in? %>
  <p>by <%= @post.user.email %></p>
<% end %>

<p><%= @post.body %></p>

<%= link_to "Back", posts_path %>
<%= link_to "Edit", edit_post_path(@post) if current_user == @post.user %>
